# Binaries
*.exe
*.dll
*.so
*.dylib
.env
# Build artifacts
/bin/
/obj/
/pkg/

# Go vendor
/vendor/

# IDE/editor config files
.vscode/
.idea/
*.swp
*~

# Dependency files
go.sum
go.work.sum

# Logs and temp files
*.log
*.out
/tmp/

# Executables
main
*.test
